@charset "utf-8";
/*
Name: Allyson Vue
Date: 10/29/2023
File name: layout.css
*/

/*Header*/
header {
    display: block;
    text-align: center;
    padding: 15px;
}

header > img {
    float: left;
    size: 75%;
    clear: both;
    padding: none;
    margin: none;
}


/*Body*/
#content_page {
    max-width: 960px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.Schedule {
    display: flex;
    display: -webkit-flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

/*Columns*/

/*Column One*/
.Column_One {
    padding-top: 5px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 35%;
}

.Col1_header {
    text-align: center;
}

.Col1_body > aside {
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
}

/*Column Two*/
.Column_Two {
    padding-top: 5px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 35%;
}

.Col2_header {
    text-align: center;
}

.Col2_body > aside {
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
}

/*Column Three*/
.Column_Three {
    padding-top: 5px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 35%;
}

.Col3_header {
    text-align: center;
}

.Col3_body > aside {
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
}
/*Column Four*/
.Column_Four {
    padding-top: 5px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 35%;
}

.Col4_header {
    text-align: center;
}

.Col4_body > aside {
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
}

/*Column Five*/
.Column_Five {
    padding-top: 5px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 35%;
}

.Col5_header {
    text-align: center;
}

.Col5_body > aside {
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
}

/*Footer*/
footer {
    text-align: center;
    padding: 10px;
}